@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply relative text-white bg-slate-300;
  }

  .desktop {
    display: block;
  }

  /* Esconde os elementos com a classe .desktop quando a largura da janela for menor que 600px */
  @media screen and (max-width: 600px) {
    .desktop {
      display: none;
    }
  }

  .navbar-logged-out {
    display: none;
    /* esconde a barra de navegação */
  }

  .navbar-logged-in {
    display: block;
    /* mostra a barra de navegação */
  }

  button {
    @apply transition-all duration-100 hover:scale-110 hover:relative;
  }
  

  input {
    @apply px-4 py-2 bg-slate-200 rounded-xl;
  }
}

@layer utilities {
  .btn {
    @apply self-start px-4 py-2 text-sm capitalize rounded-xl;
  }

  .btn-primary {
    @apply  bg-slate-300  text-slate-900  hover:text-white;
  }

  .btn-renda {

    @apply  bg-lime-600   text-white  hover:bg-lime-600;
    
  }

  .btn-danger {
    @apply text-white bg-red-700 hover:bg-red-600 ;
  }

  .input-group {
    @apply flex flex-col gap-4;
  }

  .steps {
    @apply text-lime-400;
  }
}